@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #171717;
  background: #fff;
  @apply font-lugfa font-[500];
}

.zero {
  font-family: Lufga;
  font-size: 72px;
  font-weight: 600;
  line-height: 93.97px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: rgba(255, 255, 255, 1);
}

.foreign__card {
  position: relative;
  padding: 48px 40px 48px 40px;
  border-radius: 24px;
  border-image-source: linear-gradient(121.91deg, #ffffff 0%, rgba(153, 153, 153, 0) 111.4%);
  background: linear-gradient(140.33deg, #0a1e3a 13.02%, #001430 103.61%);
}

.foreign__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  padding: 1px; /* Control border width */

  background: linear-gradient(121.91deg, #ffffff 0%, #001430 111.4%);
  /* background: linear-gradient(140.33deg, #0A1E3A 13.02%, #001430 103.61%); */

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.steps_blur {
  background: rgba(8, 28, 56, 1);
  backdrop-filter: blur(80px);
}

.header__store__btn {
  @apply flex w-full items-center justify-center gap-2.5 rounded-md bg-[#141414] px-6 py-3.5 text-white md:w-auto md:rounded-md;
}

.header__storewhite__btn {
  @apply flex shrink-0 items-center gap-2.5 rounded-full bg-white px-6 py-2.5 text-[#141414] md:py-3.5;
}

.stats__big__text {
  @apply text-center font-lugfa text-sm font-[500] text-[#fff] md:!text-3xl xl:!text-3xl;
}

.stats__small__text {
  @apply text-center font-lugfa !text-[9px] font-[400] text-[#fff] md:!text-lg xl:!text-base;
}

.heading-3 {
  @apply text-3xl font-bold text-[#1b1f28] md:text-[52.8px] md:leading-[52.8px] xl:w-[450px];
}

.no__limit__caption {
  @apply font-lugfa tracking-[2px] xl:text-base;
}

.body-text {
  @apply font-inter mt-5 text-xl font-normal leading-[32px] text-[#505050];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
