@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Runde";
  src: url("/fonts/open-runde/OpenRunde-Regular-BF64ee9c6978988.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Open Runde";
  src: url("/fonts/open-runde/OpenRunde-Medium-BF64ee9c695513a.woff")
    format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Open Runde";
  src: url("/fonts/open-runde/OpenRunde-Semibold-BF64ee9c69788f3.woff")
    format("woff");
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: "Open Runde";
  src: url("/fonts/open-runde/OpenRunde-Bold-BF64ee9c696534f.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/static/Geist-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/static/Geist-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/static/Geist-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/static/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #525252;
  background: #fff;
  font-family: "Open Runde";
  font-weight: 300;
  letter-spacing: -0.22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist";
  font-weight: 600;
  color: #171717;
  letter-spacing: -3%;
}

.global__slide {
  background-color: linear-gradient(
    180deg,
    rgba(22, 36, 39, 0.9) 0%,
    rgba(243, 223, 202, 0.36) 51.19%,
    rgba(248, 225, 228, 0) 100%
  ) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* .animate__slide {
    @apply inview:animate-slidein inview-once opacity-0 [--slidein-delay:100ms];
  } */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  position: fixed;
  left: 0;
  right: 0;
}

.footer {
  background: linear-gradient(180deg, #f3f5fa 17.11%, #ffffff 72.58%);
}
.box-wrapper {
  padding: 0;
}

.box-wrapper--vertical {
  margin: 0 10px;
}

.box {
  /* align-self: center; */
  /* box-sizing: border-box; */
  /* height: 40px; */
  width: 133px;
}

.box--horizontal {
  height: 40px;
}

.box--vertical {
  min-width: 133px;
}

@media (min-width: 960px) {
  .box--horizontal {
    height: 40px;
  }
  .box--vertical {
    min-width: 190px;
  }
}
